/cmake-build-debug/*
/cmake-build-release/*
!/cmake-build-debug/Game_data/
/.idea

/raylib/*
!/raylib/src
!/raylib/LICENSE
!/raylib/README.md

!/raylib/CMakeLists.txt
!/raylib/CMakeOptions.txt

# Maybe should add raylib's gitignore later if something breaks, although it's fine now.
